$section-margin: 50px;
$content-margin: 25px;


.container {
  margin: auto;
  max-width: 1320px;
  padding: 1.6rem;

  section:not(:last-child) {
    padding: 0;
    margin: 0 0 50px;
  }

  h1, h2, ul {
    margin: 0 0 25px;
    padding: 0;
  }

  h1 {
    font-size: 7.6rem;
    line-height: 7.6rem;
  }

  h2 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    color: white;
  }

  p {
    font-size: 1.6rem;
  }

  ul {
    list-style-type: none;
  }

  .purple {
    color: #712CFF;
  }

  a {
    border: 1px solid #712CFF;
    background: none;
    padding: 16px;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 27px;

    &:hover {
      color: #712CFF;
    }
  }

  .points {
    li {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      span:first-child {
        font-size: 2.3rem;
        padding: 16px;
        background-color: #712CFF;
        border-radius: 50%;
        width: fit-content;
      }

      span:nth-child(2) {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  @media only screen and (min-width: 770px) {
    .points {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, 280px);

      li:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .prices {

    ul {
      margin-top: 16px;

      li {
        display: inline-block;
        width: 250px;

        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    .placeholder {
      aspect-ratio: 39 / 34;
      width: 100%;
      height: auto;
      color: white;
      background-color: #3d023f;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  @media only screen and (max-width: 770px) {
    .prices {
      ul {
        white-space: nowrap;
        overflow: auto;

        li {
          padding-bottom: 16px;
        }
      }
    }
  }

  @media only screen and (min-width: 770px) {
    .prices {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 16px;

      ul {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        align-content: space-between;

        li {
          width: 100%;
          padding: 0;
        }
      }
    }
  }

  .scores {
    font-size: 2.2rem;

    & > li {
      background-color: #3D023F;

      &:first-child {
        background-color: #712CFF;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .score-total {
      display: grid;
      grid-template-columns: auto auto 1fr;
      align-items: center;
      gap: 32px;
      padding: 12px 24px;

      & > span:first-child {
        font-size: 5.2rem;
      }
    }

    .content-block {
      display: flex;
      flex-direction: column;
      gap: 6px;

      & > span:last-child {
        font-size: 3.3rem;
        font-weight: bold;
      }
    }

    .score-details {
      display: none;
    }

    .image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: initial;
        max-width: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: inherit;
      }
    }
  }


  @media only screen and (min-width: 770px) {
    .scores {

      & > li {
        display: grid;
        grid-template-columns: auto 1fr;
      }

      .score-details {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}


.footer {
  text-align: center;
}
